<!-------------------------------->
<!--Pending Approvals Index View-->
<!-------------------------------->

@model IEnumerable<UTAAA.Models.RequestModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REQUESTDATE)
        </th>
        <th>
            Employee
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCLASSDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQTYPE_DESC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.REQUESTSTATUS_DESCRIPTION == "Pending")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.REQUESTDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRST_NAME)
                    @Html.DisplayFor(modelItem => item.LAST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SCLASSDESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REQTYPE_DESC)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { REQUESTDETAILS_ID = item.REQUESTDETAILS_ID }, null)
                </td>
            </tr>
        }
    }

</table>
